[Desktop Entry]
Name=NoSQL Booster
Comment=GUI Tool and IDE for MongoDB
Exec={{ install_root }}/nosqlbooster4mongo
# You may need to verify the icon path inside the extracted folder
Icon={{ install_root }}/resources/app/public/img/logo.png
Terminal=false
Type=Application
Categories=Development;Database;
