[Desktop Entry]
Name=NoSQL Booster
Comment=GUI Tool and IDE for MongoDB
# Point to the wrapper script instead of the raw binary
Exec=/usr/local/bin/nosqlbooster
Icon={{ install_root }}/resources/app/public/img/logo.png
Terminal=false
Type=Application
Categories=Development;Database;
